.productid{
    color: red;
}
.productimg{
    width: 20%;
}
.cartproductcard{
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; */
    border: 1px solid green;
    margin: 10px;
    border-radius: 8px;
}
.cartcard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid green; */
}
.homepagecart{
    width: 34%;
    /* float: left; */
    /* float: top; */
    cursor: pointer;
    border-radius: 8px;
}
.deleteproduct{
    width: 20%;
    cursor: pointer;
}
.checkoutbutton{
    width: 55%;
    border-radius: 10%;
    padding-left: 10%;
    cursor: pointer;
    ;
}
.visa{
    width: 60%;
    float: right;
}
.price{
    display: grid;
    grid-template-columns: 4fr 3fr 2fr 3fr;
    background-color: gray;
}
.availablepaymentmethods{
display: grid;
grid-template-columns: 1fr 2fr;
}
.navbarcart{
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 2fr 1fr;
    background-color: gray;
    height: 84px;
}
.logoutbuttoncart{
    margin-left: 5vw;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    /* padding: 10px 20px; */
    width: 50%;
    height: 100%;
    /* margin-top: 10vh; */
}
.productImg{
    width: 40%;
    border-radius: 8px;
    margin-top: 5vh;
}
.rightnavbar{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 84px;
    /* margin-bottom: 100px; */
    /* float: top; */
}
.totalprice{
    font-size: 200%;
    color: white;
}
.welcome{
    color: white;
}
.logoutbuttoncart{
    border-radius: 8px;
}