.productid{
    color: red;
}
.productimg{
    width: 20%;
}
/* .cartproductcard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
} */
.cartcard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.homepage{
    width: 40%;
    float: left;
    float: top;
    cursor: pointer;
    border-radius: 8px;
}
.deleteproduct{
    width: 20%;
    cursor: pointer;
}
.checkoutbutton{
    width: 20%;
    border-radius: 10%;
    padding-left: 10%;
    cursor: pointer;
    ;
}
.visa{
    width: 30%;
    float: right;
}
.price{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
/* .availablepaymentmethods{
} */
.navbarcart{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
    background-color: gray;
}
.logoutbuttoncart{
    cursor: pointer;
    border-radius: 20%;
    width: 30%;
    background-color: blue;
    height: 30%;
     color: greenyellow;
}
.productImg{
    width: 40%;
    border-radius: 8px;
    margin-top: 5vh;
}