.navBar{
    /* background-color: red; */
    display: grid;
    grid-template-columns:  1fr 1fr 11fr  0.5fr 2fr 1fr ;
    /* background-color: white; */
    /* border-radius: 6%; */
    width: 100vw ;
    background-color: gray;
    height: 84px;
}
.signupbutton{
    /* margin-top: vh; */
    /* margin-left: 10px; */
    margin-left: 1vw;
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    /* padding: 10px 20px; */
    width: 100%;
    height: 50%;
    border-radius: 8px;
}
.signupbutton:hover{
    
        width: 110%;
        opacity:1;
        background-color: gray;
    
    
}
.loginbutton{
    /* margin-top: 10px; */
    margin-left: 2vw;
    cursor: pointer;
    font-size: 15px;
    background: gray;
    border: 1px solid #01d28e;
    color: #fff;
    /* padding: 10px 20px; */
    width: 100%;
    height: 50%;
    border-radius: 8px;

}
.loginbutton:hover{
    width: 110%;
    opacity:1;
    background-color: #01d28e;

}
.search{
    height: 50%;
    cursor: text;
    
}
.searchButton{
    width: 100%;
    /* border-radius: 20%; */
    cursor: pointer;
    height: 50%;
    margin-top: 3vh;
}
.logo{
    border-radius: 20%  ;
}
.navBarrows{
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
}
.categories{
    padding-right: 5%;
}
.loginbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3vh;
    height: 100%;
}
/* .rows{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
} */
.contactus{
    /* margin-bottom: 100px; */
    float: right;
    color: blue;
}
/* .gg{
    margin-bottom: 100px;
} */
/* .Home{

} */