/* 
.loggedin{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
} */
.homepagebuttonloggedin{
    width: 42.5%;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    margin-left:4vw ;
    /* border: 1px solid greenyellow; */
}
.username{
    float: right;
    color: white;
}
.yourcartloggedin{
    width: 42.5%;
    float: left;
    padding-left: 2%;
    cursor: pointer;
    border-radius: 8px;
    /* border: 1px solid greenyellow; */
}
.addporductsbutton{
    cursor: pointer;
    border-radius: 8px;
    width: 30%;
    background-color: blue;
     height: 60%;
     color: greenyellow;
}
.logoutbuttonloggedin{
      /* margin-left: 1vw; */
      cursor: pointer;
      font-size: 15px;
      background: #01d28e;
      border: 1px solid #01d28e;
      color: #fff;
      /* padding: 10px 20px; */
      width: 40%;
      height: 60%;
      margin-left: 4%;
      border-radius: 8px;
}
.logoutbuttonloggedin:hover{
    background-color: gray;
}
.searchbuttonloggedin{
    width: 15%;
    cursor: pointer;
    height: 50%;
    border-radius: 8px;
}
.navBarloggedin{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr ;
    background-color: gray;
    width: 100vw;
    height: 84px;

}
.box{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.testo{
    display: flex;
    /* justify-content: space-around; */
    gap: 10%;
    margin-left: 10%;
}
.header{
    color: white;
}