
.loggedin{
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 2%;
}
.homepagebuttonloggedin{
    width: 40%;
    float: left;
    cursor: pointer;
    border-radius: 20%;
    border: 1px solid greenyellow;
}
.username{
    float: right;
}
.yourcartloggedin{
    width: 40%;
    float: left;
    padding-left: 2%;
    cursor: pointer;
    border-radius: 20%;
    border: 1px solid greenyellow;
}
.addporductsbutton{
    cursor: pointer;
    border-radius: 20%;
    width: 30%;
    background-color: blue;
     height: 60%;
     color: greenyellow;
}
.logoutbuttonloggedin{
    cursor: pointer;
    border-radius: 20%;
    width: 30%;
    background-color: blue;
     height: 60%;
     color: greenyellow;
}
.searchbuttonloggedin{
    width: 15%;
    cursor: pointer;
    height: 50%;
}
.navBarloggedin{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 2fr ;
}
.box{
    display: grid;
    grid-template-rows: 1fr 3fr;
}
.testo{
    display: flex;
    /* justify-content: space-around; */
    gap: 10%;
    margin-left: 10%;
}