.productimage{
    width: 20%;
}
.searchCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.signupbutton{
}
.navbar{
    display: grid;
    grid-template-columns: 1fr 2fr 8fr 1fr 1fr 1fr;
    background-color: white;
    width: 100vw;
}
.homepagesearch{
    width: 50%;
    /* padding: 20%; */
    border-radius: 20%;
    cursor: pointer;
}
.searchh{
    width: 3%;
    cursor: pointer;
}
.s{
    width: 100vw;
}
