.productimage{
    width: 20%;
}
.searchCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* border: 1px solid green; */
}
.navbarsearch{
    display: grid;
    grid-template-columns:  1fr 2fr 2fr 8fr 3fr 1fr 1fr;
    background-color: gray;
    width: 100vw;
    height: 84px;
    
}
.homepagesearch{
    width: 50%;
    /* margin-bottom: 20px; */
    /* padding: 20%; */
    border-radius: 8px;
    cursor: pointer;
    /* border: 1px solid greenyellow; */
}
.searchh{
    width: 3%;
    cursor: pointer;
}
.Search{
    width: 100vw;
}
.logoutbuttonsearch{
    /* margin-left: 1vw; */
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    /* padding: 10px 20px; */
    width: 50%;
    height: 70%;
    margin-left: 25%;
    border-radius: 8px;
}
.yourcartsearch{
    width: 50%;
    /* padding: 10%; */
    cursor: pointer;
    /* border: 1px solid greenyellow; */
    border-radius: 8px;
    /* margin-bottom: 20px; */
}
.logoutbuttonesearchbar{
    display: grid;
    grid-template-rows:  1fr 1fr  ;
    border-radius: 8px;
}
.addtocart3{
    width: 10%;
}
.searchResults{
    border: 1px solid green;
    border-radius: 8px;
    margin: 10px;
}
.welcomemessage{
    color: white;
}
