.homepagebutton{
    width: 40%;
    /* float: left; */
    cursor: pointer;
    border-radius: 8px;
}
.paymentcard{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.cardnumber{
    padding: 2%;

}
.Pay{
    padding: 1%;
    cursor: pointer;
}
.navbarpayment{
    display: grid;
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr;
    background-color: gray;
    width: 100vw;
}
.navbarpaymentright{
    margin-top: 2vh;
}