.register{
    padding-right:10% ;
    padding-left: 10%;
    padding-top: 2%;
}
.homebutton{
    float: left;
    width: 5%;
    cursor: pointer;
}
.loginbuttonregister{
     /* float: right;  */
     border-radius: 20%;
    width: 10%;
    background-color: blue;
    cursor: pointer; 
     /* height: 50%; */
     color: greenyellow;
      
}
.addaccount{
    border-radius: 20%;
    width: 10%;
    background-color: blue;
    cursor: pointer; 
     /* height: 50%; */
     color: greenyellow;
}