.productImg{
    width: 40%;
    border-radius: 8px;
    margin-top: 5vh;
}
.homepagebuttoncategories{
    width: 73%;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    /* border: 1px solid green; */
    /* margin-right: 10px; */
}
.addtocart2{
    width: 10%;
    cursor: pointer;
    border-radius: 8px;
    /* float: bottom; */
}
.yourcart{
    width: 5%;
float: left;}
/* .productCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
.categorycomponent{
    display: grid;
    grid-template-rows: 0.7fr 3fr;
}
.productCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4vh;
}
.yourcartcategories{
    width: 73%;
    float: left;
    /* padding-left: 2%; */
    cursor: pointer;
    border-radius: 8px;
    /* border: 1px solid greenyellow; */
}
.navbarcategories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 7fr 1fr 1fr;
    background-color: gray;
}
.productinfocategory{
    border: 1px solid green;
    margin: 10px;
    border-radius: 8px;

}
.logoutbuttoncategories{
    cursor: pointer;
    border-radius: 8px;
    width: 60%;
    background-color: blue;
     height: 40%;
     /* color: greenyellow;  */
}