.productImg{
    width: 50%;
    border-radius: 20%;
}
.homepagebuttoncategories{
    width: 40%;
    float: left;
    cursor: pointer;
    border-radius: 20%;
}
.addtocart1{
    width: 10%;
    cursor: pointer;
    border-radius: 20%;
}
.yourcart{width: 5%;
float: left;}
/* .productCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
.categorycomponent{
    display: grid;
    grid-template-rows: 1fr 10fr;
}
.productCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.yourcartcategories{
    width: 10%;
    float: left;
    padding-left: 2%;
    cursor: pointer;
    border-radius: 20%;
    border: 1px solid greenyellow;
}
.navbarcategories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 5fr 1fr;
}