.productImg{
    width: 40%;
    border-radius: 8px;
    margin-top: 5vh;
}
.homepagebuttoncategories{
    width: 73%;
    float: left;
    cursor: pointer;
    border-radius: 8px;
    /* border: 1px solid green; */
    /* margin-right: 10px; */
}
.addtocart2{
    width: 10%;
    cursor: pointer;
    border-radius: 8px;
    /* float: bottom; */
}
.yourcart{
    width: 5%;
float: left;}
/* .productCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
} */
.categorycomponent{
    display: grid;
    grid-template-rows: 0.7fr 3fr;
}
.productCard{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 4vh;
}
.yourcartcategories{
    width: 73%;
    float: left;
    /* padding-left: 2%; */
    cursor: pointer;
    border-radius: 8px;
    /* border: 1px solid greenyellow; */
}
.navbarcategories{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 7fr 2fr 1fr;
    background-color: gray;
    height: 84px;
}
.productinfocategory{
    border: 1px solid green;
    margin: 10px;
    border-radius: 8px;

}
.logoutbuttoncategories{
    /* margin-left: 1vw; */
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    /* padding: 10px 20px; */
    width: 100%;
    height: 50%;
     /* color: greenyellow;  */
}
.logoutbuttoncategories:hover{
    background-color: gray;
}
.loginbuttoncateg{
    /* margin-left: 2vw; */
    cursor: pointer;
    font-size: 15px;
    background: gray;
    border: 1px solid #01d28e;
    color: #fff;
    /* padding: 10px 20px; */
    width: 100%;
    height: 50%;
    /* margin-right: 3.5vw; */
}
.signupbuttoncateg{
    /* margin-left: 1vw; */
    cursor: pointer;
    font-size: 15px;
    background: #01d28e;
    border: 1px solid #01d28e;
    color: #fff;
    /* padding: 10px 20px; */
    width: 100%;
    height: 50%;
    /* margin-right: 3.5vw; */
}
.rightnavbarcategoriesnotloggedin{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3.5vh;
    width: 140%;
    height: 100%;
}
